.estilo-mat {
    background: linear-gradient(to bottom, #bcf, #def);
    border: 1px solid #bbb;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
}

.articulo {
    background: #9cf;
    padding: 5px;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

