:root {
    --tarjeta-color-sombra: rgb(110, 110, 255);
}

.footer {
    display: flex;
    flex-wrap: wrap;
    background-image: url('/images/header.svg');
    background-size: cover;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
}

.footer__autor {
    font-style: normal;
    flex-basis: 100%;
    margin: 30px 0 10px 40px;
}

.footer__copyright {
    margin: 0 0 20px 40px;
}
.footer__redes {
    flex-grow: 0;
    margin: 40px 40px 0 0;
}

.footer__redes-ul {
    margin-top: 20px;
}

.footer__redes-icono {
    color: #fff;
}

.footer__redes-icono:hover {
    filter: drop-shadow(0 0 3px var(--tarjeta-color-sombra));
}

.footer__redes-li {
    display: inline-block;
    margin-right: 5px;
}


.footer__documentos {
    flex-grow: 1;
    margin: 40px 0 0 40px;
}

.footer__documentos-a {
    text-decoration: none;
}

.footer__documentos-a {
    color: #fff;
}



.footer__documentos-li {
    margin-bottom: 10px;
}

.footer__documentos-a:hover {
    text-shadow: 0 0 3px var(--tarjeta-color-sombra);
}

.footer__documentos-ul {
    list-style-type: none;
}