:root {
    --nav-azul-oscuro: #00167c;
    --nav-azul-mas-oscuro: red;
    --color-normal-texto: #fff;
}

.nav {
    background-image: url('/images/header.svg');
    background-size: cover;
}

.nav__ul {
    display: flex;
}

.nav__li {
    margin: 5px 0px 5px 5px;
    display: inline-block;
    transition: background-color 0.2s;
    border-radius: 7px;
    position: relative;
    z-index: 50;
}

.nav__a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-normal-texto);
    font-size: 20px;
    padding: 10px 20px;
    font-family: 'Dosis', sans-serif;
}

.nav__li:hover {
    background: var(--color-normal-texto);
}

.nav__li:hover > .nav__a {
    background: url('/images/header.svg');
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subnav {
    display: none;
}

.nav__li:hover > .subnav {
    display: block;
    position: absolute;
}

.subnav__li {
    display: block;
}

.subnav__li:first-child {
    margin-top: 10px;
}

.subnav__a {
    display: block;
    text-decoration: none;
    background: var(--color-normal-texto);
    color: var(--nav-azul-oscuro);
    padding: 10px;
    border-left: 1px solid var(--nav-azul-oscuro);
    border-right: 1px solid var(--nav-azul-oscuro);
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

.subnav__li:first-child .subnav__a {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top: 1px solid var(--nav-azul-oscuro);
}

.subnav__li:last-child .subnav__a {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom: 1px solid var(--nav-azul-oscuro);
}




.subnav__a:hover {
    background: var(--nav-azul-oscuro);
    color: var(--color-normal-texto);
}