:root {
    --menu-fondo: #058;
}

.nav-menu {
    background: var(--menu-fondo);
    display: flex;
}

.ul-menu {
    user-select: none;
    list-style: none;
    display: flex;
}

.logo {
    height: 40px;
    margin: 5px 10px;
}

.a-menu {
    display: flex;
    align-items: center;
    height: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-bottom-color: var(--menu-fondo);
    transition: background-color 0.5s, border-bottom-color 0.5s;
    padding: 0 20px;
    font-family: 'Open Sans', sans-serif;
}

.a-menu:hover {
    background: #07a;
    border-bottom: 2px solid #fff;
    
}


.ul-menu__li {
    color: #fff;
}

.ul-menu__li-submenu {
    position: relative;
}

.ul-menu__li-submenu {
    position: absolute;
    display: none;
    list-style: none;
    background: #def;
    padding: 5px;
}

.ul-menu__li-submenu-li {
    height: 30px;
}

.a-submenu {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #246;
    
}

.ul-menu__li--submenu:hover > .ul-menu__li-submenu {
    display: inline;
}

