.nav {
    background-image: url('/images/header.svg');
    background-size: cover;
}

.nav .nav__ul {
    display: flex;
}

.nav .nav__li {
    margin: 5px 0px 5px 5px;
    display: inline-block;
    transition: background-color 0.5s;
    border-radius: 7px;
}

.nav .nav__a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    font-family: 'Dosis', sans-serif;
}

.nav .nav__li:hover {
    background: #fff;
}

.nav .nav__a:hover {
    background: url('/images/header.svg');
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}