:root {
    --tarjeta-color-sombra: rgb(110, 110, 255);
}

.tarjeta {
    font-family: 'Dosis', sans-serif;
    margin: 10px;
    padding: 10px;
    /* background: linear-gradient(to bottom, #fff, var(--nav-azul-mas-claro)); */
    background: #fff;
    color: var(--nav-azul-oscuro);
    border: 1px solid var(--nav-azul-oscuro);
    border-radius: var(--radio-borde);
}

.tarjeta__titulo {
    font-size: 30px;
    margin-bottom: 5px;
}

.tarjeta__contenido {
    font-size: 20px;
}

.tarjeta__enlace {
    font-size: 20px;
    text-decoration: underline solid var(--nav-azul-oscuro);
    font-weight: bold;
}

.tarjeta__enlace:link {
    color: var(--nav-azul-claro);
}

.tarjeta__enlace:visited {
    color: var(--nav-azul-oscuro);
}

.tarjeta__enlace:hover {
    text-shadow: 0 0 3px var(--tarjeta-color-sombra);
}